<ion-content>
  <div class="background-container">
    <ion-card>
      <ion-card-header>
        <div class="ion-form" >
          <div class="avatar">
            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="">
            <ion-button>Add</ion-button>
          </div>
          <ion-input type="text" value="password"></ion-input>
          <ion-input type="text" value="password"></ion-input>
          <ion-input type="text" value="password"></ion-input>
          <ion-input type="password" value="password"></ion-input>
          <ion-input type="password" value="password"></ion-input>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="loginPage()">
          Login
        </ion-button>
        <ion-button (click)="homePage()">
          Sign in
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
