<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="nav">
      <div class="icon">SC</div>
      <div class="page">
        <ul>
          <li>
            <ion-icon name="man-outline"></ion-icon><a href="">Home</a>
          </li>
          <li><a href="">Friends</a></li>
          <li><a href="">Chat</a></li>
          <li><a href="">Settings</a></li>
        </ul>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
